<%= render 'shared/content_title', title: @project.name %>

<p><%= @project.description %></p>

<p>
  <%= link_to 'Edit', edit_project_path(@project) %>
  <%= link_to 'Delete', project_path(@project), method: :delete, data: { confirm: 'Are you sure?' } %>
</p>

<h2>Tickets</h2>

<%= render 'tickets/tickets_table', tickets: @project.tickets %>
